body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgba(13, 110, 139, 0.45);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

.logo {
    background-image: url("bannergabinet3.jpg");

    background-attachment: fixed;
    
    width: 100%;
    height: auto;
    background-size: center;
    display: flex;

    background-position: center;
}

.nav {
    background: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    -webkit-box-shadow: rgba(34,34,34,0.1) 0 5px 10px;
    box-shadow: rgba(34,34,34,0.1) 0 5px 10px;
    padding: 10px;
    
}

.logo1 {
    margin-left: 100px;
    line-height: 50%;
}

.logo1 img {
    width: 250px;
    height: 65px;
}

.nav ul {

    display: flex;
    margin-right: 100px;
    padding: 17px;


}

.nav ul>li {

    list-style-type: none;
    padding-right: 14px;
    font-size: 17px;

}


.nav li a {
    text-decoration: none;
    color: #000;
    transition-duration: 0.3s;
}

.nav li a:hover {
    color: #4dac71;

}

.introduction {

    text-align: justify;
    padding-top: 300px;
    color: #4dac71;
    
    padding-bottom: 200px;
    width: 100%;
    padding-left: 100px;


}

.describe-banner {
    font-size: 70px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 100;
    

}





.one {

    padding-top: 200px;
    background-color: #f2f2f2;

}

.container1 {
    width: 70%;
    padding-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;




}

.about {
    width: 100%;
    display: flex;
    align-items: stretch;


}

.about h1,
.about p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;


}

.about h5 {
    text-align: center;
    margin-top: 20px;
    color: #a6a6a6;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;

}

.about h1 {
    padding-left: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    width: 300px;
    border-top: 1px solid #ccc;
    font-family: "Poppins", sans-serif;

}

.about p {
    padding: 1rem;
    line-height: 150%;
    color: #a6a6a6;
    font-size: 20px;
    padding-bottom: 50px;
}

.image1 {
    background-color: #fff;
    margin-right: 50px;



}

.image1 img {
    width: 100%;
    height: auto;

}

.image2 {
    margin-left: 50px;
    background-color: #fff;


}

.image2 img {
    width: 100%;
    height: auto;

}

@media screen and (max-width: 1400px) {
    .container1 {
        width: 90%;

    }
}

@media screen and (max-width: 1200px) {
    .container1 {
        width: 95%;
    }

    .about p {
        font-size: 18px;
    }

    .about h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 1000px) {

    /* .container1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 0;
       } */
    /* .one{
        padding-top: 0;
         } */
    .image1 {
        flex-direction: row;
        flex-wrap: wrap;
        /* margin: 0; */
    }

    .image2 {
        /* margin:0; */
        flex-direction: row;
        flex-wrap: wrap;
    }

    .down {
        font-size: 0;
    }

    .down a {
        border: 0;
    }

    

    .describe-banner {
        font-size: 35px;
        padding-bottom: 20px;
        letter-spacing: 1px;
    }

    

    .about h5 {
        font-size: 13px;
    }

    .about p {
        padding: 0.5rem;
        padding-bottom: 50px;
    }

    .button1 {}

    .button1 h5 {

        text-decoration: none;
        color: #fff;

        display: block;
        padding: 15px;
        border: 1px solid #fff;
        font-weight: normal;
        background-color: rgba(255, 255, 255, 0.034);
        transition-duration: 0.5s;
    }

}

@media screen and (max-width: 600px) {

    .container1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 0;
    }

    .one {
        padding-top: 0;

    }

    .image1 {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    .image2 {
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .logo {
        width: 100%;
        height: 30rem;
        background-position: 50% bottom;
    }

    .introduction {
        padding: 0;
        padding-top: 150px;

    }

    .describe-banner{
        font-size: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin: 0;
    }

    

    .psycholog h5 {
        font-size: 10px;
    }

    .about h5 {
        font-size: 12px;
    }

    .about p {
        padding: 0.5rem;
        padding-bottom: 50px;
    }

    .button1 {
        width: 100%;
    }



}

.oferta {
    background-image: linear-gradient(60deg, #4dac71 50%, #3ba666 50%);
    width: 100%;
    height: auto;


}

.container2 {
    display: flex;
    align-items: stretch;
    /* margin-left: 100px;
    margin-right: 100px; */
}

.headeroffer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding-top: 100px;
    font-family: "Poppins", sans-serif;
}

.headeroffer h1 {
    font-size: 50px;
    font-weight: bold;

    padding-bottom: 50px;
}

.headeroffer p {

    padding: 0;

    letter-spacing: 1px;
    font-size: 20px;
    padding-bottom: 60px;
}

.oferta1 {
    /* width: 500px;
    margin-left: auto;
    margin-right: auto;



    padding-bottom: 100px;
    margin-right: 0; */
    display: flex;
    flex-direction: column;
    
    padding: 0 50px 100px;
    margin:

}

.oferta1:first-child {
    /* margin-right: 50px; */
    margin-left: 0;
}

/* .oferta1:last-child{
    margin-right: 70px;
    margin-left: 50px;
    
} */
.oferta1 p {
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    line-height: 130%;

}

.icon1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    line-height: 150px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
/* .icon-users{
    transform: translate(50%,10%);
} */


.button1 {
    text-align: center;

    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    
    /* margin-top: auto; */

    transition: 0.3s;

}

.button1 h5 {

    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    display: block;
    padding: 15px;
    border: 1px solid #fff;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.075);
    transition-duration: 0.5s;
}

.button1 h5:hover {

    color: rgba(0, 0, 0, 0.671);
    background: transparent;
}

#clock {

    margin-top: 50px;

    border: 1px solid #fff;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    cursor: auto;
    font-size: 18px;
    line-height: 180%;
}

#clock p {
    text-align: left;
    padding: 2rem 0.5rem 2rem 0.5rem;
}

#chat {

    margin-top: 50px;

    border: 1px solid #fff;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    cursor: auto;
    font-size: 18px;
    line-height: 180%;
}

#chat p {
    text-align: left;
    padding: 2rem 0.5rem 2rem 0.5rem;
}

#person {

    margin-top: 50px;

    border: 1px solid #fff;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    cursor: auto;
    font-size: 18px;
    line-height: 180%;
}

#person p {
    text-align: left;
    padding: 2rem 0.5rem 2rem 0.5rem;
}

@media screen and (max-width: 1400px) {
    .oferta {

        width: 100%;
        height: auto;

    }

    .oferta1 {
        width: 90%;
    }
    .icon1 {
        font-size: 50px;
        width: 120px;
        height: 120px;
        line-height: 120px;
    }

    .button1 {
        width: 300px;
    }

    .container2 {
        margin-left: 0;
        margin-right: 0;
    }

    @media screen and (max-width: 1250px) {

        .oferta1 {
            width: 100%;
        }

        .button1 {
            width: 90%;
        }

        .container2 {
            margin-left: 0;
            margin-right: 0;
        }

    }

    @media screen and (max-width: 1000px) {
        .container2 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            padding: 0;
        }

        .oferta1 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            padding-top: 20px;
        }

        .oferta1:last-child {
            margin: 0;
        }

        .button1 {
            width: 70%;
        }

    }

}

.nav1 {
    /*
    background-image: linear-gradient(60deg,#3ba666 50%, #4dac71 50%);
    */
    background: #f3f3f3;
}

.container3 {
    width: 80%;
    margin-lefT: auto;
    margin-right: auto;
    display: flex;
    padding-bottom: 100px;
}

.mapa {
    padding-top: 100px;

    display: flex;
}

.kontakt {
    margin-left: 200px;
    padding-top: 90px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s all ease-in-out;
}

.kontakt h3 {
    font-size: 50px;
    padding-bottom: 20px;
    font-weight: 500;
}

.kontakt p {
    margin: 0;
    padding-bottom: 30px;
    line-height: 150%;
    font-size: 20px;
}

.kontakt ul>li {
    list-style-type: none;
    padding-bottom: 15px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    font-size: 20px;
}

.mailstrong {
    font-size: 19px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.mailstrong:hover {

    color: #4dac71;
}

.phone {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    font-size: 19px;
}

.phone:hover {
    color: #4dac71;
}

.kontakt ul>li:first-child {
    border: none;
}

@media screen and (max-width: 1250px) {
    .container3 {
        width: 90%;
    }

    .mapa iframe {
        width: 500px;
    }
}

@media screen and (max-width: 1000px) {



    .container3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 0;
    }

    .mapa {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding-top: 30px;
        margin-lefT: auto;
        margin-right: auto;
    }

    .mapa iframe {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .kontakt {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .kontakt h3 {
        font-size: 40px;
        padding-bottom: 30px;
        font-weight: 500;
    }

}

@media screen and (max-width: 600px) {
    .kontakt {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-left: 0;
        padding: 3rem;
    }

    .button1 {
        width: 95%;
    }
    .oferta1{
        padding: 0 10px;
    }

    .headeroffer h1 {
        font-size: 40px;
    }

    .headeroffer p {
        font-size: 19px;
    }

    .opis1 p {
        font-size: 20px;
    }

    .opis2 p {
        font-size: 20px;
    }

    .opis3 p {
        font-size: 20px;
    }

    .oferta1 {
        padding-bottom: 50px;
    }

    .oferta1:last-child {
        padding-bottom: 100px;
    }

    .kontakt h3 {
        font-size: 30px;
        padding-bottom: 15px;
    }

    .kontakt p {
        font-size: 18px;
    }

    .kontakt ul > li {
        font-size: 18px;
    }
    .mailstrong{
        font-size: 17px;
    }
    .phone{
        font-size: 17px;
    }
    .oferta1:first-child {
        margin-right: 0;
    }

}

.testjs {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s all ease-in-out;
}

.testjs1 {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s all ease-in-out;
}

.headeroffer {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s all ease-in-out;
}

.opis1 {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s all ease-in-out;

}

.opis2 {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s all ease-in-out;
}

.opis3 {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s all ease-in-out;
}

.intro-appear {
    opacity: 1;
    transform: translateY(0px);
}

.footer {
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #4dac71;
    color: rgba(0, 0, 0, 0.61);
    padding: 10px;
}

.copy p {
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

.copy a {
    text-decoration: none;
    color: #4dac71;
}

@media (max-width: 600px) {
    .copy p {
        font-size: 14px;
    }
}




.c-modal-outer {}

.c-modal-background {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;


}

.c-modal-background.show {
    display: block;
}

.c-modal {
    display: none;
    top: 50%;
    left: 2.5%;
    right: 2.5%;
    width: 95%;
    min-height: 500px;
    background-color: white;
    overflow-y: scroll;
    position: fixed;
    z-index: 1001;
    transform: translate(0, -50%);
}

@media screen and (min-width: 768px) {
    .c-modal {
        width: 50%;
        top: 50%;
        left: 50%;
        right: 0;
        bottom: 0;
        transform: translate(-50%, -50%);
    }

}

.c-modal__inner {
    height: 100%;
}



.c-modal.show {
    display: block;
}


.btn-close {
    background: transparent;
    border: none;
    font-size: 2.5em;
    font-weight: 200;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: -5px;
    color: black;
}

